.Region {
	padding-top: rem(20);
}

.Heading {
	color: #fff;
	font-size: rem(24);
	font-weight: 800;
	margin-bottom: rem(15);
	text-align: center;
	text-transform: capitalize;
}

.Header {
	display: flex;
	gap: rem(15);
}

.Logo {
	flex-shrink: 0;
}
