.RootRoot {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
}

.Root {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 20px;
	justify-content: center;
	position: relative;
	z-index: 3;
}

.image {
	object-fit: contain;
	position: absolute;
}

.textContainer {
	cursor: pointer;
	position: absolute;
	top: calc(50% - 2vw);
	left: calc(50% - 14rem);
	width: 28rem;
	text-align: center;
	font-family: 'IBM Plex Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 6vw;
	line-height: 130%;
	text-transform: capitalize;
	color: #ffffff;
	@include respondBelow(2200px) {
		top: calc(50% - 2vw);
		font-size: 2.5vw;
	}
	@include respondBelow(1700px) {
		top: calc(50% - 2vw);
		font-size: 3vw;
	}
	@include respondBelow(1400px) {
		top: calc(50% - 2vw);
		font-size: 3.5vw;
		width: 25rem;
		left: calc(50% - 12.5rem);
	}
	@include respondBelow(890px) {
		width: 16rem;
		left: calc(50% - 8rem);
	}
	@include respondBelow(550px) {
		width: 13.5rem;
		left: calc(50% - 6.75rem);
		font-size: 5vw;
	}
}

.circle {
	@include distribute-on-circle(5, 35rem, 4.5rem);
	// background-image: url(./circle.png), url(./logo.png); //url('/7.png');
	background-position: bottom center;
	background-repeat: no-repeat;
	background: url('./logo.png') 40% center / contain no-repeat,
		url('./circle.png') bottom center no-repeat;
	background-size: 55%, contain;
	background-position: 60% 55%, bottom center;
	img {
		object-fit: cover;
	}

	@include respondBelow(1050px) {
		@include distribute-on-circle(5, 30rem, 5rem);
	}
	@include respondBelow(768px) {
		@include distribute-on-circle(5, 25rem, 3.5rem);
	}
	@include respondBelow(580px) {
		@include distribute-on-circle(5, 22rem, 2.5rem);
	}
	@include respondBelow(400px) {
		@include distribute-on-circle(5, 18rem, 2.2rem);
	}
}

.extraItemsContainer {
	margin-top: 8vw;
	//background-color: rgba(0, 0, 0, 0.22);
	//background: linear-gradient(rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0) 90%, rgba(0, 0, 0, 0) 5%);
	background: linear-gradient(
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.6) 5%,
		rgba(0, 0, 0, 0.6) 95%,
		rgba(0, 0, 0, 0) 100%
	);
	backdrop-filter: blur(2px);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 40px 0;
}

.extraItems {
	max-width: 800px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	@include respondBelow(900px) {
		padding: 5vw;
	}
}

.extraItem {
	position: relative;
	font-family: 'IBM Plex Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	text-transform: capitalize;
	color: #ffffff;
	display: flex;
	align-items: center;
	gap: 10px;
	hyphens: auto;
	word-wrap: break-word;
	@include respondBelow(900px) {
		font-size: 3vw;
	}
}

.arrow-back {
	position: absolute;
	width: 5vw;
	object-fit: contain;
	top: 50px;
	left: 10px;
	z-index: 100;
	cursor: pointer;
	max-width: 70px;
	@include respondBelow(900px) {
		width: 5vw;
		top: 40px;
		left: 0;
	}
	@include respondBelow(600px) {
		width: 7vw;
		top: 30px;
		left: 5px;
	}
}

.extraImageContainer {
	position: relative;
	width: 60px;
	height: 60px;

	flex-shrink: 0;

	@include respondBelow(600px) {
		width: 22px;
		height: 22px;
	}

	@include respondBelow(900px) {
		width: 40px;
		height: 40px;
	}
}

.extraImage {
	object-fit: contain;
	position: absolute;
	top: 0;
	left: 0;
}
