.services {
  padding-bottom: rem(100);

  &__list {
    align-content: stretch;
    display: grid;

    gap: max(0.5em, 1.5vw);
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 3fr);
    justify-content: center;
    list-style-type: none;
    padding: 0;

    @media screen and (max-width: 991px) {
      grid-template-columns: repeat(2, 2fr);
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
