.LogoLink {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	text-align: center;
	width: 100%;

	@include respondAbove($breakpointBurger) {
		flex-direction: column;
		justify-content: start;
		width: auto;
	}
}

.LogoLink:hover .LogoPicture {
	@include transition(transform);
	display: block;
	transform: scale(1.1);
}

.LogoPicture {
	@include transition(transform);
	flex-shrink: 0;
	// @include scaleHover;
	// @include respondAbove($breakpointBurger) {
	// 	height: rem(100);
	// 	width: rem(100);
	// }
}

.LogoText {
	background-color: #fff;
	border-radius: 4px;
	font-size: rem(15);
	font-weight: 600;
	padding: rem(4);

	@include respondBelow($breakpointBurger) {
		display: none;
	}
}

.LogoTextMob {
	font-family: var(--next-font-roboto);
	font-size: fluid(14, 28, 'vw', 420, 830);
	font-weight: 800;

	text-transform: capitalize;
	/* stylelint-disable */
	background: linear-gradient(180deg, #0d8fe2 0%, #35b6ef 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;

	border: 0.5px solid rgba(255, 255, 255, 0.59);

	@include respondAbove('830px') {
		display: none;
	}
}
