.price__block {
  align-content: stretch;
  display: grid;

  gap: max(0.5em, 1.5vw);
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(1, 1fr);

  @media screen and (max-width: 700px) {
    .price__item {
      &:nth-child(3n) {
        background-color: rgba(131, 199, 230, 0.3) !important;
      }

      &:nth-child(3n+1) {
        background-color: rgba(242, 235, 224, 0.88) !important;
      }

      &:nth-child(3n+2) {
        background-color: rgba(246, 242, 242, 0.77);
      }
    }
  }
}
