//===========================================
//============= accesable ===================
//===========================================

%hidden {
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	margin: 0 -1px -1px 0;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

//===========================================
//============= toolkit =====================
//===========================================

@mixin centering {
	display: grid;
	place-content: center;
}

@mixin focusRing {
	outline: var(--grayLines) auto 2px;
	outline-offset: 2px;
}

@mixin container {
	margin-inline: auto;
	max-width: var(--content-width);
	overflow-x: hidden;
	padding-inline: var(--space-80);
}

%container {
	margin-inline: auto;
	max-width: var(--content-width);
	// overflow-x: hidden;
	padding-inline: var(--space-80);
}
