//===========================================
//============= colors ======================
//===========================================

$dark: #000;
$overlayDark: #0e0f2acc;
$light: #fff;
$blueText: #035c8c;
$gray: #ababab;
$bgBlue: #2caced;
$burgerBars: #161820;

$SpringWood: #f5f0eb;
$Zircon: #fdfeff;

// unused
$footerLink: #000;
$contactsList: #035c8c;
$aboutUsTitle: #0071b8;
$aboutUsTitleMax: #fff;

//===========================================
//============= dimensions ==================
//===========================================

$contentWidth: rem(1440);

$layoutTopPadding: 130px;

//===========================================
//============= breakpoints =================
//===========================================
$breakpointBurger: '829px';
