.Overlay {
	animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
	background-color: $overlayDark;
	inset: 0;
	position: fixed;
	z-index: 10;
}

.Content {
	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
	background-color: $bgBlue;
	overflow: auto;
	position: fixed;
	z-index: 11;
}

.Modal {
	border-radius: 6px;

	left: 50%;
	max-height: 85vh;
	max-width: 450px;
	padding: 25px;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
}

.Burger {
	height: 100vh;
	max-width: 450px;
	padding: 25px;
	right: 0;
	top: 0;
}

.Content:focus {
	outline: none;
}

.IconButton {
	align-items: center;
	border-radius: 100%;
	color: $light;
	display: inline-flex;
	font-family: inherit;
	height: 35px;
	justify-content: center;
	position: fixed;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 35p;
}

.IconButton svg {
	height: 35px;
	width: 35px;
}

.IconButton:hover {
	background-color: var(--violet4);
}

.IconButton:focus {
	box-shadow: 0 0 0 2px var(--violet7);
}
