@use 'sass:list';
@use 'sass:math';
@use 'sass:meta';
@use '../abstract/variables' as *;

//===========================================
//============= help func ===================
//===========================================

@function argsColorHandler($args) {
	$color: $dark;

	@if (list.length($args) > 1) {
		$color: list.nth($args, 1);
	}

	@if (list.length($args) == 1) {
		$first: list.nth($args, 1);

		@if (meta.type-of($first) != 'number') {
			$color: $first;
		}
	}

	@if (list.length($args) > 2) {
		@error 'максимум 2 аргумента';
	}

	@return $color;
}

@function argsFwHandler($args, $initValue: 400) {
	$fw: $initValue;

	@if (list.length($args) > 1) {
		$fw: list.nth($args, 2);
	}

	@if (list.length($args) == 1) {
		$first: list.nth($args, 1);

		@if (meta.type-of($first) == 'number') {
			$fw: $first;
		}
	}

	@return $fw;

	@if (list.length($args) > 2) {
		@error 'максимум 2 аргумента';
	}
}
