.Root {
	@extend %container;
}

.whiteTextBold {
	color: $light;
	font-size: rem(30);
	font-weight: 600;

	@media screen and (max-width: 768px) {
		font-size: rem(40);
	}
}

.hr {
	border-top: 1px solid #f8fcff;
	height: 1px;
	width: 100%;
}

.title {
	background-image: url('/intro/pie.png');
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: rem(50);
	padding-bottom: rem(36);
	position: relative;
}

.title__head {
	align-items: center;
	color: $dark;
	display: flex;
	flex-direction: column;
	font-size: rem(38);
	font-weight: 600;
	line-height: 1.2;
	padding-bottom: rem(36);
	padding-top: rem(36);

	@media screen and (max-width: 414px) {
		font-size: rem(30);
		text-align: center;
	}
}

.title__desc {
	color: $dark;
	font-size: rem(30);
	font-weight: 500;
	line-height: 1.3;
	padding: rem(20);
	text-align: center;

	@media screen and (max-width: 1200px) {
		font-size: rem(20);
	}
}

.title__btn {
	background: linear-gradient(
		180deg,
		rgba(5, 132, 215, 0.73) 1.22%,
		rgba(125, 200, 233, 0.37) 100%
	);
	border: 1px solid #fdfeff;
	border-radius: 10px;
	bottom: 40px;

	color: #000;
	display: flex;
	flex-direction: column;
	font-size: rem(32);
	font-weight: 500;
	line-height: 1.2;
	padding: rem(10) rem(80);
	position: absolute;
	right: 0;

	/* identical to box height */

	text-align: center;

	transform: scale(1);
	transition: transform 0.3s;

	@media screen and (max-width: 768px) {
		font-size: rem(24);
		padding: rem(10) rem(70);
	}

	&:hover {
		transform: scale(1.1);
	}
}

.price {
	margin-top: rem(70);

	&__content {
		display: flex;
		flex-direction: column;
		gap: max(0.5em, 1.5vw);
	}

	// &__block {
	//   align-content: stretch;
	//   display: grid;

	//   gap: max(0.5em, 1.5vw);
	//   grid-auto-rows: 1fr;
	//   grid-template-columns: repeat(1, 1fr);

	//   @media screen and (max-width: 700px) {
	//     .price__item {
	//       &:nth-child(1) {
	//         background-color: rgba(131, 199, 230, 0.3) !important;
	//       }

	//       &:nth-child(2) {
	//         background-color: rgba(242, 235, 224, 0.88) !important;
	//       }

	//       &:nth-child(3) {
	//         background-color: rgba(246, 242, 242, 0.77);
	//       }
	//     }
	//   }
	// }

	.hr {
		background-image: linear-gradient(to right, #fff 40%, red 40%);
		background-repeat: repeat-x;
		background-size: 10px 1px;
		height: 1px;
		margin: 5px 0;
		width: 100%;
	}

	&__item {
		display: flex;
		flex-direction: row;
		gap: rem(50);
		position: relative;

		@media screen and (max-width: 700px) {
			border-radius: 16px;
			flex-direction: column;
			gap: 0;

			&::after {
				align-items: center;
				background-image: url('/images/arrow-right.svg');
				background-repeat: no-repeat;
				background-size: contain;
				content: '';
				display: flex;
				height: 30px;
				justify-content: center;
				position: absolute;
				right: 20px;
				top: 30px;
				width: 30px;
			}
		}

		@media screen and (max-width: 400px) {
			&::after {
				align-items: center;
				background-image: url('/images/arrow-right.svg');
				background-repeat: no-repeat;
				background-size: contain;
				content: '';
				display: flex;
				height: 30px;
				justify-content: center;
				position: absolute;
				right: 20px;
				top: 40px;
				width: 30px;
			}
		}

		&::before {
			content: '';
			height: 2px;
			position: absolute;
			width: 100%;
		}

		// background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='23' stroke-dashoffset='30' stroke-linecap='square'/%3e%3c/svg%3e");
		&:nth-child(3n) {
			.price__name {
				background: rgba(0, 151, 225, 0.27);
			}

			.price__cost {
				background: #b3d8e8;
			}
		}

		&:nth-child(3n + 1) {
			.price__name {
				background: #f4ebd3;
			}

			.price__cost {
				background: #f4ebd3;
			}
		}

		&:nth-child(3n + 2) {
			.price__name {
				background: rgba(253, 254, 254, 0.56);
			}

			.price__cost {
				backgrpound: rgba(255, 255, 255, 0.56);
			}
		}
	}

	&__name {
		flex-basis: 80%;
		padding: 10px 10px 10px 40px;
		transform: scale(1);
		transition: transform 0.3s;

		&:hover {
			transform: scale(1.1);
		}
	}

	&__cost {
		align-items: center;
		display: flex;
		flex-basis: 20%;
		justify-content: center;
		padding: 10px;

		@media screen and (max-width: 700px) {
			justify-content: flex-start;
			padding: 10px 10px 10px 40px;
		}
	}

	&__name,
	&__cost {
		border-radius: 16px;

		color: $dark;
		font-size: rem(24);
		font-weight: 500;
		line-height: 1.2;

		@media screen and (max-width: 1100px) {
			font-size: rem(20);
		}

		@media screen and (max-width: 700px) {
			background: none !important;
			justify-content: flex-start;
		}
	}
}
