/* stylelint-disable max-nesting-depth */

$hamburgerWidth: 28px;
$barHeight: 4px;
$spaceBars: $hamburgerWidth - $barHeight * 3;

.Hamburger {
	cursor: pointer;
	height: 24px;
	//position: absolute;
	//right: 30px;
	//top: 30px;
	user-select: none;
	width: $hamburgerWidth;
	z-index: 9;
	@media only screen and (min-width: $breakpointBurger) {
		display: none;
	}

	span {
		position: relative;

		&,
		&::before,
		&::after {
			background-color: $bgBlue;
			border-radius: 4px;
			height: $barHeight;
			width: $hamburgerWidth;
		}

		&,
		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
		}

		& {
			top: 30px;
		}

		&::before {
			bottom: -10px;
		}

		&::after {
			bottom: -20px;
		}
	}
}

.Menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	font-weight: bold;
	font-size: rem(30);
}

.Button {
	margin-top: rem(30);
	color: black;
}
