$introBottomGap: 20px;

.Intro {
	background-image: url('./blur-field-texture\ 3.png'); //'./full-shot-happy-family-outdoors\ 2.jpg');
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: $introBottomGap solid $light;
	min-height: calc(100vh - #{$layoutTopPadding} + #{$introBottomGap});
	padding-bottom: 40px;
	@include respondBelow(830px) {
		min-height: calc(60vh - #{$layoutTopPadding} + #{$introBottomGap});
	}
	@include respondBelow(580px) {
		min-height: calc(40vh - #{$layoutTopPadding} + #{$introBottomGap});
	}
}

.Image {
	z-index: 0;
}

.CategoryList,
.HomeBtn {
	position: relative;
	z-index: 1;
}
