@use '../abstract' as *;
@use '../functions' as *;

:root {
	//===========================================
	//============= colors =====================
	//===========================================
	--alpha: #{$dark};
	--bravo: #{$light};
	--bg: hsl(30, 33%, 94%);

	//===========================================
	//============= spacers =====================
	//===========================================

	--layout-spacing: max(8vh, 3rem);
	--space-80: #{fluid(20, 50)};

	//===========================================
	//============= dimensions ==================
	//===========================================

	--content-width: #{$contentWidth};
}
